<div class="nav-bar">
  <div class="nav-left">
    <div>
      <a routerLink="/dashboard" > Dashboard</a>
    </div>
    <div>
      <a routerLink="/about" > About</a>
    </div>
    <div>
      <a routerLink="/contact" > Contact</a>
    </div>
    <div>
      <a routerLink="/products" > Products</a>
    </div>
  </div>
  <div class="nav-right">
    <button class="button" routerLink='/admin' routerLinkActive="router-link-active" >Admin</button>
  </div>
</div>
<div style="align-items: center; justify-content: center; display: flex; padding-top: 100px; height: 100%; width: 100%;">
  <router-outlet></router-outlet>
</div>
