/* You can add global styles to this file, and also import other style files */

body
{
    background-color: rgb(52, 52, 52);
    height: 100%;
    color: beige;
}

.button{
    height: 20px;
    background-color: aquamarine;
    cursor: pointer;
}
